.product-overview {
  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    gap: 20px;

    .product {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      width: 300px;

      -webkit-box-shadow: 0px 1px 13px 3px rgba(0,0,0,0.11);
box-shadow: 0px 1px 13px 3px rgba(0,0,0,0.11);
    }

    mat-card-actions {
      .mat-stroked-button {
        margin: 0;
      }

      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: stretch;
      gap: 10px;
    }
  }
}


